@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html {
    font-family: 'Baloo Tammudu 2', 'Franklin Gothic Medium', sans-serif;
}

body {
    margin: 0;
    background-color: ivory;
}

/* navigation bar start */

#navbar {
    margin-bottom: 30px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 235, 235);
    border-bottom: solid 5px rgba(0, 22, 22, 0.4);
}

#navbar li {
    float: left;
    padding: 25px 50px;
    text-align: center;
    display: block;
}

#navbar a {
    text-decoration: none;
    color: rgb(105, 89, 17);
    font-size: 20px;
}

#navbar a:hover {
    color: black;
}

.BrandName {
    font-size: 23px;
}

.searchbarr {
    float: right;
    padding-right: 10px;
    padding-top: 27px;
}

.searchButton {
    padding: 8px;
}

.searchbox {
    padding: 7px;
}


.chatbox {
    right: 0;
    bottom: 0;
    position: fixed;
    margin-right: 15px;
    border-radius: 100%;
}

.table{
    column-width: 1000px;
    width: 800px;
    margin: auto;
    margin-left: 10px;
}

.pra{
    text-align: right;
    height: 30px;
}

.supportteam{
    text-align: left;
    margin-bottom: 10px;
}

#header{
    background-color: #00A877;
    margin: 0px;
    height: 60px;
    border-bottom: black;
    border-bottom-style: solid ;
    border-bottom-width: 5px;
}

#searchbar{
    background-image:url("searchbar-img.jpg");
    background-size: 1100px 500px;
    background-position: -5px 50%;
    background-position-x: 5;
    background-position-y: 330px;
    margin: 0px;
    margin-bottom: 10px;
}

.faqs{
    margin-left: 20px;
    margin-bottom: 50px;
}

#deliveries{
    background-color: #afeeee;
    border-color: black;
    border-top-width: 5px;
    border-top-style: solid;
    margin: 0px;
}

.recent-deliveries {
    margin: auto;
    margin-left: 20px;
    margin-top: 10px;
}

#helpsupport{
    background-color: #90ee90;
    margin: auto;
    border-color: black;
    border-top-width: 5px;
    border-top-style: solid;
    padding-bottom: 30px;
}

#wimo{
    font-size: 30px;
    margin: auto;
}

dt{
    font-size: 30px;
    color: cornflowerblue;
    text-decoration: underline;
    margin-bottom: 0;
}

#cfaqs{
    background-color: ivory;
    width: 50%;
    height: 230px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 125px;
}

.hhcwhy{
    text-align: center;
    font-size: x-large;
    color: rgb(255, 255, 255);
    font-weight: 900;
    background-color: #00A877;
    border-radius: 10px;
    width: 40%;
    margin: auto;
    padding: 8px;
    padding-bottom: 2px;
    margin-bottom: 10px;
}

dd{
    border: 2px dotted black;
    padding: 10px;
    width: 80%;
    margin-left: 0;
}

li{
    font-size: 10px;
    font-weight: 700;
}

#commonfaq{
    margin: 0px;
}

#cwost{
    margin: auto;
    margin-left: 20px;
}

#fmh{
    margin-left: 20px;
}

#faqbutton{
    margin-left: 20px;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 6px 20px 0px 20px;
    font-family: 'Baloo Tammudu 2', cursive, sans-serif;
    font-size: 20px;
    background-color: rgb(69, 226, 69);
}

#faqbutton:hover {
    background-color: rgb(53, 156, 53);
    color: white;
}

#email{
    margin-bottom: 3px;
}

#vchatbot{
    margin-left: 40px;
    height: 100px;
}

.common-faq {
    font-size: 20px;
}

.legend {
    font-size: 30px;
    margin: 0;
}

.img {
    width: 250px;
    height: 100px;
}

.robots {
    height: 100px;
}

.order-img {
    width: 60%;
    border: 2px solid black;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.chatbot-icon {
    height: 70px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(126, 115, 115);
    color: white;
    border-top: 3px solid black;
}

.footer-title {
    background-color: rgb(92, 72, 72);
    padding: 12px;
    padding-bottom: 0;
    border-radius: 8px;
}

.social-media {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 9px;
    margin-top: 9px;
}