@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html {
    font-family: 'Baloo Tammudu 2', 'Franklin Gothic Medium', sans-serif;
}

body{
    margin: 0;
    background-color: lavender;
}

/* navigation bar start */

#navbar {
    margin-bottom: 30px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(243, 235, 235);
    border-bottom: solid 5px rgba(0, 22, 22, 0.4);
}

#navbar li {
    float: left;
    padding: 25px 50px;
    text-align: center;
    display: block;
    font-weight: 700;
}

#navbar a {
    text-decoration: none;
    color: rgb(105, 89, 17);
    font-size: 20px;
}

#navbar a:hover {
    color: black;
}

.BrandName {
    font-size: 23px;
}
/* searchbar & button */

.searchbar {
    float: right;
    padding: 30px;
}

.searchButton {
    padding: 8px;
}

.searchbox {
    padding: 7px;
}

/* productList start */

/* sidebar */
.boxed {
    display: flex;
    border-bottom: solid 5px rgba(0, 22, 22, 0.4);
}

.sidebar {
    min-width: 230px;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
    background-color: white;
}

.sidebar-header {
    text-align: right;
    padding-right: 20px;
    padding-top: 10px;
    border-bottom: solid;
    border-color: rgba(0, 22, 22, 0.4);
    margin: 0;
}

.sidebar-contents {
    list-style-type: none;
    text-align: right;
    padding-left: 0px;
    margin: 0;
}

.sidebar-contents li {
    border-bottom: solid 5px rgba(0, 22, 22, 0.4);
    padding-right: 20px;
    padding-bottom: 3px;
    padding-top: 10px;
}

.sidebar-contents a {
    text-decoration: none;
    font-size: 20px;
    color: rgb(128, 113, 50);
}

.sidebar-contents a:hover {
    color: black;
}

/* products */
.product-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    overflow: auto;
    height: 500px;
}

.product-box {
    padding: 30px 80px;
    border-radius: 15px;
    box-shadow: 3px 3px 15px grey;
    background-color: white;
}

.productImage {
    width: 120px;
    height: 100px;
    margin-top: 20px;
}

.productPrice {
    font-size: 20px;
}

.productButton {
    border: none;
    padding-top: 7px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(14, 236, 25);
    color: rgb(32, 100, 11);
    font-family: 'Baloo Tammudu 2', cursive, sans-serif;
}

.productButton:hover {
    background-color: rgb(10, 189, 19);
    color: white;
    border: solid 2px black;
}

.product-link {
    text-decoration: none;
    color: black;
}

.product-link:hover {
    color: brown;
}

/* other sections */
.section-title {
    text-align: center;
    background-color: rgb(46, 54, 121);
    color: honeydew;
    padding-top: 9px;
    width: 60%;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.popular-section {
    border-bottom: 2px solid grey;
}

.recently-added {
    border-bottom: 2px solid grey;
}

/* JS pop up button */

.popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 10px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  .productButton {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .productButton .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

.productButton .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

/* footer */

#footer {
    display: flex;
    justify-content: space-around;
    background-color: rgb(126, 115, 115);
    color: white;
    border-top: 3px solid black;
}

.footer-title {
    background-color: rgb(92, 72, 72);
    padding: 12px;
    padding-bottom: 0;
    border-radius: 8px;
}

.social-media {
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 9px;
    margin-top: 9px;
}