@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2&display=swap');

html {
    font-family: 'Baloo Tammudu 2', 'Franklin Gothic Medium', sans-serif;
}

body {
    background-image: url(yay.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    text-align:left;
}


 .form {
      width: 46%; 
      height: auto; 
      padding: 40px 70px; 
      background-color: #fff; 
      border-radius: 20px; 
      box-shadow: 0 0 10px 0 #000;
      margin: auto;
      position: relative;
      list-style-type: none;
      display: flex;
      justify-content: space-between;
}


 h1 {
     text-align: center;
     color: rgb(45, 70, 8);
     position: relative;
     background-color: rgb(17, 221, 17);
     width: 80%;
     margin: auto;
     margin-bottom: 10px;
     border-radius: 20px;
     border: 3px solid black;
     padding-top: 12px;
 }

 .btn {
      text-align: justify;
      margin-top: 20px;
      background-color: rgb(17, 221, 17);
      border-radius: 5px;
      padding: 8px;
      border: none;
      margin-right: 15px;
}

.btn:hover {
    border: 2px solid black;
    background-color: rgb(17, 153, 17);
    color: white;
    padding: 6px;
}

 input {
      text-align: left;
      padding: 8px 10px;
      border: none;
      background-color: #d3d3d3;
      border-radius: 5px;
}

.titles {
    font-weight: 700;
    font-size: 19px;
}

.check-btn {
    margin-left: 5px;
    background-color: rgb(17, 221, 17);
    border-radius: 5px;
    padding: 8px;
    border: none;
}

.check-btn:hover {
    border: 2px solid black;
    background-color: rgb(17, 153, 17);
    color: white;
    padding: 6px;
}

.login-link {
    text-decoration: none; 
    color: black;
}

.login-link:hover {
    color: white;
}